.social-share-button a {
  color: rgba(225,225,225,0) !important;
}

.social-share-button {
  .social-share-button-twitter {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: image-url('social/social-sprite.png')
    -122px -92px no-repeat !important;
  }
  .social-share-button-facebook {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: image-url('social/social-sprite.png')
    -163px -92px no-repeat !important;
  }
  .social-share-button-google_plus {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: image-url('social/social-sprite.png')
    -46px -91px no-repeat !important;
  }
}


#map-canvas {
  width: 840px;
  height: 250px;
}
.user {
  float: right;
}
