// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
  border:1px solid #eaeaea;
  padding:1em;
  .title {
    border-bottom: 1px solid #eaeaea;
    margin-bottom:1em;
  }
  .content {

  }
  .user {
    border-top: 1px solid #eaeaea;
    margin-top: 1em;
    text-align: right;
  }
}

// .help-inline {
//   border-radius: 5px;
//   border: 1px solid #b89c2b;
//   background-color: #f5e6ad;
//   color: #b89c2b;
//   padding: 1em;
//   display: block;
//   margin-bottom: 1em;
// }

.alert-error {
  border:1px solid #800000;
  color: #800000;
  background-color: #e1b7b0;
  padding:1em;
  border-radius: 5px;
}

.social-share-button a {
  color: rgba(225,225,225,0) !important;
}
