<div class="row">
  <% @categories.each do |category| %>
    <div class="col s12 m4 category">
      <div class="card-panel teal">
            <span class="white-text">
              <%= link_to category.name, events_path(params[category_search: category.name]) %>
                <div class="chip">
                  <%= category.events.count %>
                </div>
            </span>
      </div>
    </div>
  <% end %>
</div>


