<p>Seja bem vindo ao EuVou <%= @email %>!</p>

<p>Você pode confirmar a sua conta através do link abaixo:</p>

<p><%= link_to 'Confirmar email', confirmation_url(@resource, confirmation_token: @token) %></p>