<p>Hello <%= @resource.email %>!</p>

<p>Alguém solicitou a mudança de senha. Isto pode ser feito através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a alteração de sua senha, por favor ignore este email.</p>
<p>A sua senha permanecerá a mesma a menos que você acesse o link acima e crie uma nova.</p>